/* 
 * ==================================================================================
 * window's size
 * ==================================================================================
 */

$less: 360px;
$xx: 440px;
$xs: 576px;
$sm: 768px;
$md: 992px;
$lg: 1280px;
$xlg: 1360px;
$xl: 1600px;
$xxl: 1920px;

/*
 * ================================================================================== 
 * font settings
 * ==================================================================================
 */

$thin: 100 !default;
$extra-light: 200 !default;
$light: 300 !default;
$normal: 400 !default;
$medium: 500 !default;
$semi-bold: 600 !default;
$bold: 700 !default;
$semi-black: 800 !default;
$black: 900 !default;

/* 
 * ==================================================================================
 * root variables
 * ==================================================================================
 */

:root {
  --black: #000;
  --white: #fff;


  --section-padding: 208px;
  
  --column-gap: 80px;
  
  --container-side-padding: 30px;
  --container-width: 1360px;

  @media (max-width: $lg ) {
    --section-padding: 136px;
    --column-gap: 40px;
  }

  @media (max-width: $md) {
    --section-padding: 130px;
  }
  
  @media (max-width: $md) {
    --section-padding: 80px;
  }
  
  @media (max-width: $semi-xs) {
    --section-padding: 40px;
  }
}
