/*
 * ================================================================================== 
 * font settings
 * ==================================================================================
 */

$thin: 100 !default;
$extra-light: 200 !default;
$light: 300 !default;
$normal: 400 !default;
$medium: 500 !default;
$semi-bold: 600 !default;
$bold: 700 !default;
$semi-black: 800 !default;
$black: 900 !default;

/* 
 * ==================================================================================
 * colors
 * ==================================================================================
 */

:root {
  --black: #111111;
  --white: #ffffff;
}

/* 
 * ==================================================================================
 * window's size
 * ==================================================================================
 */

:root {
  --less: 360px;
  --xx: 440px;
  --xs: 576;
  --sm: 768px;
  --md: 992px;
  --lg: 1200px;
  --xlg: 1400px;
  --xl: 1600px;
  --xxl: 1920px;
}



/* 
 * ==================================================================================
 * default... vars for bootstrap and etc.
 * ==================================================================================
 */

:root {
  --column-gap: 30px;
  
  --con-side: 15px;
  --con-width: 1200px;

  @media (max-width: var(--sm) ) {
    --column-gap: 15px;
  }
}
